/* Style for title*/
.page-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
}

/* Style for buttons */
.navbar button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.navbar button:hover {
    background-color: #d4d4d4;
}

/* Style for navigating bar */
.navbar {
    display: flex;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 10px;
    align-items: center;
}

/* Styles fo button placement */
.navbar .left-buttons {
    /* display: flex; */
    justify-content: flex-start;
}

.navbar .right-buttons {
    /* display: flex; */
    margin-left: auto;
}

/* Style for login window */
.log-window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 280px;
    margin: 50px auto;
    text-align: center;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 10px;
}

.log-window .log-form {
    text-align: center;
}

/* Style for login heading */
.log-window .log-heading {
    text-align: center;
    margin: 0;
}

/* Style for login button container */
.log-button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/* Style for login button */
.log-button {
    margin-right: 10px;
}
